//Apartado de variables
$main-bg-color: #251E0D;
$main-container-color: #3D3015;
$main-border-color: #0E0B05;


.main-App {
    width: 90%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    row-gap: 20px;
}

.header-app {

    background-color: $main-container-color;
    margin-top: 5px;
    display: grid;
    align-items: center;
    justify-items: center;

    .menu-item-container {

        display: grid;
        grid-template-columns: repeat(4, 1fr);
        align-items: center;
        justify-items: center;
        column-gap: 5px;

        .menu-item {

            background-color: $main-border-color;
            font-size: 15px;
            display: grid;
            width: 100%;
            align-items: center;
            justify-items: center;
            height: 30px;
            border: solid 1px $main-border-color;
        }

        .menu-item-logout {

            background-color: gainsboro;
            background-image: url('./pages/images/logout.png');
            background-repeat: no-repeat;
            background-position: center;
            background-size: 55% 55%;
            height: 30px;
            width: 50%;
            border: solid 1px $main-border-color;
        }
    }

}