//Apartado de variables
$main-bg-color: #191919;
$main-container-color: #191919;
$main-border-color: white;
$main-button-text-color: #c9af0f;


.main-App {
    width: 90%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    row-gap: 20px;
}

.header-app {

    background-color: $main-container-color;
    grid-template-columns: 1fr 2fr;
    margin-top: 20px;
    display: grid;
    align-items: center;
    justify-items: center;

    .menu-logo{

        display: grid;
        width: 100%;

        img{
            height: 70px;
        }

        img:hover{
            -webkit-animation-name: pulse;
                animation-name: pulse;
                -webkit-animation-duration: 1s;
                animation-duration: 1s;
                -webkit-animation-fill-mode: both;
                animation-fill-mode: both;
        }
    }

    .menu-item-container {

        display: grid;
        grid-template-columns: repeat(4, 1fr);
        align-items: center;
        justify-items: center;
        justify-self: end;
        column-gap: 5px;
        

        .menu-item {


            font-size: 15px;
            display: grid;
            width: 100%;
            align-items: center;
            justify-items: center;
            height: 30px;
            border: solid 1px $main-button-text-color;
            -webkit-touch-callout: none;
            /* iOS Safari */
            -webkit-user-select: none;
            /* Safari */
            -khtml-user-select: none;
            /* Konqueror HTML */
            -moz-user-select: none;
            /* Old versions of Firefox */
            -ms-user-select: none;
            /* Internet Explorer/Edge */
            user-select: none;

            * {
                color: $main-button-text-color;
            }
        }

        .select {
            * {
                color: black;
            }
        }

        .menu-item:hover {
            background-color: $main-button-text-color;

            * {
                color: black;
            }
        }

        .menu-item-logout {

            justify-self: end;
            background-color: gainsboro;
            background-image: url('./pages/images/logout.png');
            background-repeat: no-repeat;
            background-position: center;
            background-size: 55% 55%;
            height: 30px;
            width: 50%;
            border: solid 1px $main-container-color;
        }
    }

}


/*Animaciones*/

@-webkit-keyframes pulse {
    0% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }

    50% {
        -webkit-transform: scale3d(1.05, 1.05, 1.05);
        transform: scale3d(1.05, 1.05, 1.05);
    }

    100% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}

@keyframes pulse {
    0% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }

    50% {
        -webkit-transform: scale3d(1.05, 1.05, 1.05);
        transform: scale3d(1.05, 1.05, 1.05);
    }

    100% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}


/* Medium */
@media (min-width:620px) {
    .menu-logo{
        img{
            height: 100px !important;
        }
    }
}

/* big landscape tablets, laptops, and desktops */
@media (min-width:1025px) {
    .menu-logo{
        img{
            height: 150px !important;
        }
    }
}