//Estilos globales
$main-bg-color: #251E0D;

body{
    background-color: $main-bg-color;
    * {
        font-family: 'David Libre', serif;
        color: whitesmoke;
    }

    * input{
        color: black;
    }
}