.gestor-container {
    display: grid;
    grid-template-rows: auto;
    row-gap: 20px;
}

.editor-container-obras {

    border: 1px solid yellow;
    display: grid;
    grid-template-columns: repeat(6, 200px);
    column-gap: 20px;

    .editor-cover-list {

        border: 1px solid gold;

        .editor-cover-image {
            height: 100%;
            width: 100%;

        }
    }

}

.create-obra-container {
    border: 1px solid green;

}

.contact-admin {
    border: 1px solid pink;
}




.edit-obra-new-chapter {
    border: solid yellowgreen 2px;
}

.edit-obra-chapters-list {
    border: solid palegreen 2px;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    column-gap: 20px;
    row-gap: 20px;

    .edit-obra-chapters-list-item {
        border: 1px solid royalblue;
    }
}

.container-cover-details {

    display: grid;
    grid-template-columns: 1fr 5fr;
    column-gap: 20px;

    .edit-obra-cover {

        display: grid;


        img {

            width: 100%;
        }
    }

    .edit-obra-details {

        display: grid;
        grid-template-columns: 0.8fr;
        column-gap: 20px;
        row-gap: 20px;

        div[class*='edit-'] {
            border: solid red 1px;
        }

    }
}


/** Edición de capitulo y paginas **/

.edit-chapter {

    display: grid;
    row-gap: 40px;

    .edit-chapter-pages {

        display: grid;
        grid-template-columns: repeat(6, 200px);
        column-gap: 20px;
        row-gap: 20px;

        .edit-page-item {

            width: 100%;

            img {
                width: 100%;
            }
        }

    }
}

/** Vista del lector **/
.home-recientes {

    border: 1px solid red;


    .recientes-container {

        display: grid;
        grid-template-columns: repeat(4, 220px);
        column-gap: 20px;
        row-gap: 20px;

        .recientes {

            border: solid 1px gold;
            height: 100%;

            //If an image is 100% wide and height:auto and you think it's too tall, that is specifically 
            // because the aspect ratio is preserved.
            img {
                width: 100%;
                height: 300px;
            }
        }
    }
}

/** Obra-Lector **/

.obra-lector {

    .ol-cover-details {
        display: grid;
        grid-template-columns: 250px 5fr;
        column-gap: 20px;

        .ol-cover {

            width: 100%;

            img {
                width: 100%;
            }

        }
    }

    .ol-details {

        .ol-detail-generos {
            display: flex;

            .ol-generos {
                margin-left: 5px;
                margin-right: 5px;
            }

        }
    }

    .ol-descripcion {

        div {
            width: 60%;
        }

    }
}

.ol-chapters {
    .ol-chapters-list {
        display: grid;
        column-gap: 20px;
        row-gap: 20px;
        grid-template-columns: repeat(4, 250px);

        .ol-chapter-item {
            border: yellow 1px solid;
        }
    }
}


/** READER **/

.cascade {

    margin-top: 10px;
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 15px;
    justify-items: center;

    .reader-page{
        width: 65%;
    }

}


.comic {

    margin-left: auto;
    margin-right: auto;
    width: 90%;
    margin-top: 10px;

    .simple {
        height: 1100px;
        width: 50%;
        margin-top: 15px;
    }

    .doble {
        width: 100%;
    }

}

.manga {
  margin-left: auto;
    margin-right: auto;
    width: 90%;
    margin-top: 10px;
    background-color: black;

    .simple {
        height: 1100px;
        width: 50%;
        margin-top: 15px;
    }

    .doble {
        width: 100%;
    }
}