//Apartado de variables
//Se requiere en este scss
$main-border-section: #c9af0f;
$main-height-cover-pc: 450px;
$main-columns-MEDIUM: 3;
$main-row-gap: 20px;
$main-column-gap: 20px;
$main-font-size: 20px;
$main-font-size-h1: 30px;

/* Medium */
@media (min-width:620px) {

    .h1-section {
        margin-top: 15px;
        margin-bottom: 15px;
        font-size: $main-font-size-h1;
    }

    .cover-name,
    .cover-tipo,
    .cover-score,
    .cover-leido,
    .cover-date {
        font-size: $main-font-size;
    }

    .home-container {
        row-gap: $main-row-gap;

        .home-top-10 {
            .home-top-container {

                margin-top: $main-row-gap;
                row-gap: $main-row-gap;
                column-gap: $main-column-gap;
                grid-template-columns: repeat($main-columns-MEDIUM, 1fr);

                .top-10 {
                    img {
                        height: $main-height-cover-pc;
                    }
                }
            }
        }

        .home-pendientes {
            .home-pl-container {

                margin-top: $main-row-gap;

                .home-pl-list {
                    margin-top: $main-row-gap;
                    row-gap: $main-row-gap;
                    column-gap: $main-column-gap;
                    grid-template-columns: repeat($main-columns-MEDIUM, 1fr);

                    .pendientes {
                        img {
                            height: $main-height-cover-pc;
                        }
                    }

                    .seguidos {
                        img {
                            height: $main-height-cover-pc;
                        }
                    }
                }
            }
        }

        .home-recientes {
            .recientes-container {
                margin-top: $main-row-gap;
                row-gap: $main-row-gap;
                column-gap: $main-column-gap;
                grid-template-columns: repeat($main-columns-MEDIUM, 1fr);

                .recientes {
                    img {
                        height: $main-height-cover-pc;
                    }
                }
            }
        }
    }



    /*********************************************************/
    /** Obra-Lector **/

    .obra-lector {


        .ol-cover-details {
            display: grid;
            grid-template-columns: 400px 2fr;
            column-gap: $main-column-gap;

            .ol-cover {
                margin-top: $main-row-gap;
                width: 100%;

                img {
                    width: 100%;
                }

            }

            .ol-details {
                margin-top: $main-row-gap;

                .ol-detail {
                    font-size: $main-font-size;
                }

                .ol-detail-generos {
                    display: flex;
                    font-size: $main-font-size;

                    .ol-generos {
                        margin-left: 5px;
                        margin-right: 5px;
                    }

                }

                .ol-detail-name {
                    font-size: 55px;
                }

                .ol-detail-autor {
                    font-size: 35px;
                }
            }
        }



        //Social Media Lector
        .ol-social {
            margin-top: $main-row-gap;

            .ol-social-list {
                display: grid;
                grid-template-columns: repeat(4, 1fr);

                .ol-social-item {
                    width: 100%;

                    .logo-sm {
                        width: 60%;
                    }
                }
            }


        }

        .ol-descripcion {
            margin-top: $main-row-gap;
            font-size: $main-font-size;

            div {
                width: 100%;
            }

        }
    }

    .ol-chapters {

        .ol-chapters-list {

            display: grid;
            column-gap: 20px;
            row-gap: 20px;
            grid-template-columns: repeat(6, 1fr);

            .ol-chapter-item {
                .ol-chapter-description {
                    height: 200px;
                    display: grid;
                    align-items: center;
                    justify-items: center;
                }

                .ol-chapter-vl {
                    display: grid;
                    align-items: center;
                    justify-items: center;

                    img {
                        width: 35px;
                    }
                }
            }
        }
    }

    //Clases para la puntiación y AVG de la obra
    .ol-rating-follow {

        width: 100%;

        .puntuacion-container {

            .puntos-item {
                .puntos-img img {
                    width: 100%;
                }

                .avg-obra {
                    div {
                        font-size: $main-font-size;
                    }
                }
            }


        }
    }

    /************************************************************************/
    /** READER **/

    .paginada {

        .reader-grid {
            margin-top: 15px;
            margin-bottom: 15px;
            display: grid;
            grid-template-columns: 1fr;
            row-gap: 15px;
            align-items: center;
            justify-items: center;
        }

        .reader-grid .simple {

            height: 100%;
        }

        .reader-grid .doble {
            height: 100%;
        }
    }

    .paginada-occidental,
    .paginada-oriental {
        margin-left: auto;
        margin-right: auto;
        width: 90%;

        .reader-grid {
            margin-top: 15px;
            margin-bottom: 15px;
        }

        .reader-grid .simple {
            height: 850px;
            width: 50%;
            margin-top: 15px;
        }

        .reader-grid .doble {
            height: 850px;
            width: 100%;
        }

    }

    .cascada {

        margin-top: 10px;
        display: grid;
        grid-template-columns: 1fr;
        row-gap: $main-row-gap;
        justify-items: center;

        .simple {
            height: 100%;
            width: 65%;
        }

        .doble {
            width: 100%;
        }
    }

    .cascada-oriental,
    .cascada-occidental {

        margin-left: auto;
        margin-right: auto;
        width: 90%;
        margin-top: 10px;

        .simple {
            margin-top: 15px;
            height: 850px;
            width: 50%;

        }

        .doble {
            height: 850px;
            width: 100%;
        }

    }


    /***************************************************************/
    /** Profile Lector **/

    .profile-container {
        display: grid;
        grid-template-columns: 1fr;
        row-gap: $main-row-gap;
        font-size: $main-font-size;

        .profile-details {
            display: grid;
            row-gap: $main-row-gap;
            margin-top: $main-row-gap;
        }

        .profile-update {
            margin-top: $main-row-gap;
            display: grid;
            row-gap: $main-row-gap;

            div {
                label {
                    margin-top: $main-row-gap;
                }

                .profile-update-inputs {
                    margin-top: 5px;
                    display: grid;
                    grid-template-columns: 220px 120px 120px;
                    column-gap: 5px;
                }
            }
        }

        .profile-lector {
            margin-top: $main-row-gap;

            .profile-lector-tipos {
                margin-top: 10px;

                .profile-lector-create {
                    display: grid;
                    column-gap: $main-column-gap;
                    grid-template-columns: repeat(4, 200px);
                }
            }

        }

        .profile-lector-edit {
            margin-top: $main-row-gap;
            display: grid;
            row-gap: $main-row-gap;

            .profile-lector-options {
                margin-top: $main-row-gap;

            }
        }

        .profile-lector-options {

            .profile-lector-edit-pc {
                display: grid;
                grid-template-columns: repeat(2, 150px);
            }

            .profile-lector-edit-ocors {
                display: grid;
                grid-template-columns: repeat(3, 150px);
            }
        }



    }

    /** Library **/

    .library-container {

        .library-abcedario {

            display: grid;
            column-gap: $main-column-gap;
            row-gap: $main-row-gap;
            grid-template-columns: repeat(10, 45px);


            .library-letra {
                display: grid;
                justify-items: center;
                border: solid 1px powderblue;
                width: 100%;
            }
        }

        .library-lista {

            margin-top: 20px;
            display: grid;
            column-gap: 20px;
            row-gap: 20px;
            grid-template-columns: repeat(3, 1fr);

            .library-obra {
                width: 100%;

                img {
                    height: $main-height-cover-pc;
                    width: 100%;
                }
            }
        }

    }


    /****************************************************************/
    /** Editor **/
    /** Gestor **/

    .editor-container-obras {

        margin-top: 15px;
        display: grid;
        grid-template-columns: repeat($main-columns-MEDIUM, 1fr);
        column-gap: $main-column-gap;
        row-gap: $main-row-gap;

        .editor-cover-list {

            border: 1px solid white;

            .editor-cover-image {
                width: 100%;
                height: $main-height-cover-pc;
            }
        }
    }

    .create-obra-container {
        margin-top: 15px;
        font-size: $main-font-size;

        .form {
            display: grid;
            grid-template-columns: 1fr;
            column-gap: $main-column-gap;
            row-gap: $main-row-gap;
            margin-bottom: $main-row-gap;
        }

    }

    /** Edit obra **/
    .edit-single-obra-container {
        display: grid;
        grid-template-columns: 1fr;
        row-gap: $main-row-gap;

        // COVER AND DETAILS
        .edit-obra-cover-details-container {

            margin-top: 15px;

            .container-cover-details {

                display: grid;
                grid-template-columns: 1fr 3fr;
                column-gap: $main-column-gap;
                row-gap: $main-row-gap;


                .edit-obra-cover {

                    display: grid;

                    img {

                        width: 100%;
                        height: 500px;
                    }
                }

                .edit-obra-details {

                    display: grid;
                    column-gap: 20px;
                    row-gap: 10px;

                    div[class*='edit-'] {
                        display: grid;
                        grid-template-columns: 350px;
                    }
                }

                .edit-obra-visibilidad {
                    grid-template-columns: 80px 50px 30px 50px 30px !important;
                    justify-items: center;
                    align-items: center;
                }

                .edit-obra-demografias {

                    grid-template-columns: 170px 180px !important;
                    justify-items: center;
                    align-items: center;

                    select {
                        height: 30px;
                    }

                    select {
                        justify-self: start;
                    }
                }
            }
        }

        //GENEROS
        .edit-obra-generos {
            .obra-generos-actuales {
                display: grid;
                grid-template-columns: repeat(12, 1fr);
            }

            .obra-generos-lista {
                display: grid;
                row-gap: 5px;
                grid-template-columns: repeat(6, 1fr);
            }
        }

        .edit-obra-resume {
            border-top: $main-border-section 1px solid;
            display: grid;
            justify-items: center;
            align-items: center;

            .edit-obra-resume-textarea {
                width: 70%;
            }
        }


        .edit-obra-social-media-container {
            border-top: $main-border-section 1px solid;
            justify-items: center;
            align-items: center;

            .h1-section {
                margin-top: 25px;
            }

            .edit-obra-social-new-media {
                display: grid;
                justify-items: center;
                align-items: center;
                grid-template-columns: repeat(11, 1fr);
            }

            .social-media-item {
                input {
                    width: 300px;
                }
            }
        }
    }

    .edit-obra-chapters-container {
        .edit-obra-chapters-list {

            display: grid;
            grid-template-columns: repeat(6, 1fr);
            column-gap: $main-column-gap;
            row-gap: $main-row-gap;
            margin-top: $main-row-gap;
            margin-bottom: $main-row-gap;
        }

        .edit-obra-new-chapter {
            margin-bottom: $main-row-gap;

            .btn {
                font-size: $main-font-size;
                margin-top: 10px;
                width: 100%;
            }
        }
    }


    /** Edición de capitulo y paginas **/
    .edit-chapter {
        row-gap: $main-row-gap;

        .return-edit-obra {
            button {
                font-size: $main-font-size;
                height: 35px;
            }
        }

        .edit-chapter-upload-images {
            width: 100%;
            display: grid;
            grid-template-columns: 1fr;

            button {
                width: 200px;
            }
        }

        .edit-chapter-pages {

            display: grid;
            grid-template-columns: repeat(4, 1fr);
            column-gap: $main-column-gap;
            row-gap: $main-row-gap;
            margin-bottom: $main-column-gap;

            .edit-page-item {

                width: 100%;
                display: grid;
                justify-items: center;
                align-items: center;

                img {
                    width: 100%;
                    height: $main-height-cover-pc;
                }

                .btn {
                    margin-top: 5px;
                    width: 100%;
                }
            }

        }
    }
}

/*Animaciones*/

@-webkit-keyframes pulse {
    0% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }

    50% {
        -webkit-transform: scale3d(1.05, 1.05, 1.05);
        transform: scale3d(1.05, 1.05, 1.05);
    }

    100% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}

@keyframes pulse {
    0% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }

    50% {
        -webkit-transform: scale3d(1.05, 1.05, 1.05);
        transform: scale3d(1.05, 1.05, 1.05);
    }

    100% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}