//Apartado de variables
$main-bg-color: #3b3b3b;
$main-container-color: #343742;
$main-border-color: #8c8c8c;
$main-buttonC-color: #756451;
$main-button-color: #71778F;
$main-bg-tipo-color: #806640;
$main-bg-cover-text: #807566;
$main-border-section: #ffd600;
$main-height-cover-phone: 210px;

/************************************************************************/
/** Vista del lector **/
.home-container {

    display: grid;
    row-gap: 20px;
    background-color: $main-container-color;

    .home-top-10 {

        border-top: $main-border-section 1px solid;
        display: grid;



        .home-top-container {

            margin-top: 10px;
            display: grid;
            row-gap: 10px;
            column-gap: 10px;
            grid-template-columns: repeat(2, 1fr);

            .top-10 {
                display: grid;
                border: 1px solid $main-border-color;
                width: 100%;

                img {
                    height: $main-height-cover-phone;
                    width: 100%;
                }
            }
        }
    }

    .home-pendientes {

        border-top: $main-border-section 1px solid;

        .home-pl-container {

            margin-top: 10px;

            .home-pl-options {

                display: grid;
                grid-template-columns: repeat(2, 1fr);
                text-align: center;
                width: 100%;
            }

            .home-pl-list {
                margin-top: 10px;
                display: grid;
                row-gap: 10px;
                column-gap: 10px;
                grid-template-columns: repeat(2, 1fr);

                .pendientes {

                    width: 100%;

                    img {
                        height: $main-height-cover-phone;
                        width: 100%;
                    }
                }

                .seguidos {

                    width: 100%;

                    img {
                        height: $main-height-cover-phone;
                        width: 100%;
                    }
                }
            }
        }
    }

    .home-recientes {

        border-top: $main-border-section 1px solid;
        display: grid;

        .recientes-container {

            margin-top: 10px;
            display: grid;
            row-gap: 10px;
            column-gap: 10px;
            grid-template-columns: repeat(2, 1fr);

            .recientes {

                border: solid 1px $main-border-color;
                height: 100%;

                //If an image is 100% wide and height:auto and you think it's too tall, that is specifically 
                // because the aspect ratio is preserved.
                img {
                    width: 100%;
                    height: $main-height-cover-phone;
                }
            }
        }
    }
}


.h1-section {
    margin-top: 5px;
    display: grid;
    align-self: center;
    justify-self: center;
    font-size: 18px;
    text-align: center;
    width: 100%;
}

.option-pl {
    border: solid 1px $main-border-color;
}

.select {

    background-color: #161c2e;

}

.cover-name,
.cover-tipo,
.cover-score,
.cover-leido,
.cover-date {
    justify-self: center;
    text-align: center;
    width: 100%;
}

.cover-name {
    border-top: 1px solid $main-border-color;
}

.cover-name,
.cover-score,
.cover-leido,
.cover-date {
    background-color: $main-bg-cover-text;
}

.cover-tipo {
    background-color: $main-bg-tipo-color;
    border-bottom: 1px solid $main-border-color;
}

/*********************************************************/
/** Obra-Lector **/

.obra-lector {

    .ol-cover-details {
        display: grid;
        grid-template-columns: 1fr;
        column-gap: 10px;

        .ol-cover {

            width: 100%;

            img {
                width: 100%;
            }

        }
    }

    .ol-details {
        margin-top: 10px;
        border-top: $main-border-section 1px solid;

        .ol-detail-name {
            margin-top: 10px;
        }

        .ol-detail-generos {
            display: flex;

            .ol-generos {
                margin-left: 5px;
                margin-right: 5px;
            }

        }
    }

    //Social Media Lector
    .ol-social{
        margin-top: 10px;
        border-top: $main-border-section 1px solid;


        .ol-social-list{
            display: grid;
             grid-template-columns: repeat(4, 1fr);
            .ol-social-item{
                width: 100%;
                .logo-sm{
                    width: 60%;
                }
            }
        }

       
    }

    .ol-descripcion {
        margin-top: 10px;
        border-top: $main-border-section 1px solid;

        div {
            width: 100%;
        }

    }
}

.ol-chapters {
    margin-top: 10px;
    border-top: $main-border-section 1px solid;

    .ol-chapters-list {

        display: grid;
        column-gap: 20px;
        row-gap: 20px;
        grid-template-columns: repeat(2, 1fr);

        .ol-chapter-item {

            border: $main-border-color 1px solid;

            .ol-chapter-description {
                height: 120px;
                display: grid;
                align-items: center;
                justify-items: center;
            }

            .ol-chapter-vl {

                display: grid;
                align-items: center;
                justify-items: center;
                border: $main-border-color 1px solid;

                img {

                    width: 35px;
                }
            }
        }
    }
}

//Clases para la puntiación y AVG de la obra
.ol-rating-follow {

    width: 100%;

    .puntuacion-container {

        .puntos-item {
            display: grid;
            grid-template-columns: repeat(6, 1fr);
            background-color: $main-bg-cover-text;

            .puntos-img img {
                width: 100%;
            }

            .avg-obra {
                display: grid;
                justify-items: center;
                align-items: center;

                div {
                    font-size: 25px;
                }
            }
        }


    }
}


/***************************************************************/
/** Profile Lector **/

.profile-container {

    background-color: $main-container-color;

    display: grid;
    grid-template-columns: 1fr;
    row-gap: 15px;

    .profile-details {
        margin-top: 10px;
        border-top: $main-border-section 1px solid;

        .profile-name {
            margin-top: 10px;
        }
    }

    .profile-update {
        margin-top: 10px;
        border-top: $main-border-section 1px solid;
        display: grid;
        row-gap: 10px;

        div {

            label {

                margin-top: 10px;
            }

            .profile-update-inputs {
                margin-top: 5px;
                display: grid;
                grid-template-columns: 120px 80px 80px;
                column-gap: 5px;
            }
        }

    }

    .profile-lector {
        margin-top: 10px;
        border-top: $main-border-section 1px solid;

        .profile-lector-tipos {
            margin-top: 10px;

            .profile-lector-create {
                display: grid;
                grid-template-columns: repeat(4, 1fr);
            }
        }

    }

    .profile-lector-edit {
        margin-top: 10px;
        border-top: $main-border-section 1px solid;

        .profile-lector-options {
            margin-top: 10px;

        }
    }

    .profile-lector-edit-pc {
        display: grid;
        grid-template-columns: repeat(2, auto);
    }

    .profile-lector-edit-ocors {
        display: grid;
        grid-template-columns: repeat(3, auto);
    }

}


/****************************************************************/
/** Editor **/
/** Gestor **/
.gestor-container {
    border-top: $main-border-section 1px solid;

}

.editor-container-obras {

    margin-top: 15px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 10px;
    row-gap: 10px;

    .editor-cover-list {

        border: 1px solid $main-border-color;

        .editor-cover-image {
            width: 100%;
            height: $main-height-cover-phone;

        }

        .editor-cover-obra-name {
            background-color: $main-bg-cover-text;
            text-align: center;
        }

        .editor-cover-obra-button {
            width: 100%;
            border: 1px solid $main-container-color;
            background-color: $main-button-color;
        }

    }


}

.create-obra-container {
    margin-top: 15px;
    border-top: $main-border-section 1px solid;

    .form {
        display: grid;
        grid-template-columns: 1fr;
        column-gap: 20px;
        row-gap: 20px;
    }
}

/** Edit obra **/
.edit-single-obra-container {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 25px;
    border-top: $main-border-section 1px solid;

    // COVER AND DETAILS
    .edit-obra-cover-details-container {

        margin-top: 15px;

        .container-cover-details {

            display: grid;
            grid-template-columns: 1fr;
            column-gap: 20px;
            row-gap: 20px;

            .edit-obra-cover {

                display: grid;

                img {

                    width: 100%;
                    height: 200px;
                }
            }

            .edit-obra-details {

                display: grid;
                column-gap: 20px;
                row-gap: 10px;

                div[class*='edit-'] {
                    display: grid;
                    grid-template-columns: 1fr;
                }
            }

            .edit-obra-visibilidad {
                display: grid;
                grid-template-columns: 1fr 1fr 1fr;
            }
        }
    }

    //GENEROS
    .edit-obra-generos {
        border-top: $main-border-section 1px solid;

        .obra-generos-actuales {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
        }

        .obra-generos-lista {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
        }
    }

    .edit-obra-social-media-container {
        .edit-obra-social-new-media {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
        }
    }
}

.edit-obra-chapters-container {
    border-top: $main-border-section 1px solid;

    .edit-obra-chapters-list {

        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 10px;
        row-gap: 10px;
        margin-top: 15px;
        margin-bottom: 15px;
        .edit-obra-chapters-list-item {
            height: 150px;
            border: 1px solid $main-border-color;
            display: grid;
            justify-items: center;
            align-items: center;

            .chapter-item-name{
                text-align: center;
            }
        }
    }

    .edit-obra-new-chapter {
        border-top: $main-border-section 1px solid;
        margin-bottom: 15px;
        .btn{
            font-size: 15px;
            border: 1px solid $main-border-color;
            background-color: $main-buttonC-color;
            margin-top: 10px;
            width: 100%;
        }
    }
}

/** Edición de capitulo y paginas **/
.edit-chapter {

    display: grid;
    row-gap: 10px;

    

    .edit-chapter-upload-images{
        width: 100%;
        display: grid;
        grid-template-columns:1fr;
    }

    .edit-chapter-pages {

        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 10px;
        row-gap: 20px;

        .edit-page-item {
            border: solid 1px $main-border-color;
            background-color: $main-bg-cover-text;
            width: 100%;
            img {
                width: 100%;
                height: $main-height-cover-phone;
            }

            .btn{
                border: 1px solid $main-border-color;
                background-color: $main-buttonC-color;
                margin-top: 5px;
                width: 100%;
            }
        }

    }
}

/** READER **/

.paginada {

    .reader-grid {
        margin-top: 15px;
        margin-bottom: 15px;
        display: grid;
        grid-template-columns: 1fr;
        row-gap: 15px;
        align-items: center;
        justify-items: center;
    }

    .reader-grid .simple {

        height: 650px;
        width: 75%;
    }

    .reader-grid .doble {
        height: 600px;
        width: 100%;
    }
}

.paginada-occidental,
.paginada-oriental {
    margin-left: auto;
    margin-right: auto;
    width: 90%;

    .reader-grid {
        margin-top: 15px;
        margin-bottom: 15px;
    }

    .reader-grid .simple {
        height: 450px;
        width: 50%;
        margin-top: 15px;
    }

    .reader-grid .doble {
        width: 100%;
    }

}


.reader-button {
    display: grid;
    grid-template-columns: 1fr 1fr;

    .reader-left-Button,
    .reader-right-Button {
        border: 1px solid $main-border-color;
    }

    div {
        background-color: $main-container-color;
        display: grid;
        justify-items: center;
        align-items: center;
    }
}

.cascada {

    margin-top: 10px;
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 15px;
    justify-items: center;

    .simple {
        height: 500px;
        width: 65%;
    }

    .doble {
        width: 100%;
    }
}

.cascada-oriental,
.cascada-occidental {

    margin-left: auto;
    margin-right: auto;
    width: 90%;
    margin-top: 10px;

    .simple {
        height: 450px;
        width: 50%;
        margin-top: 15px;
    }

    .doble {
        height: 450px;
        width: 100%;
    }

}


/** Library **/

.library-container {

    .library-abcedario {

        display: grid;
        column-gap: 20px;
        row-gap: 20px;
        grid-template-columns: repeat(6, 35px);


        .library-letra {
            display: grid;
            justify-items: center;
            border: solid 1px powderblue;
            width: 100%;
        }
    }

    .library-lista {

        margin-top: 20px;
        display: grid;
        column-gap: 20px;
        row-gap: 20px;
        grid-template-columns: repeat(2, 1fr);

        .library-obra {
            width: 100%;

            img {
                height: $main-height-cover-phone;
                width: 100%;
            }
        }
    }

}