//Apartado de variables

$main-container-color: #191919;
$main-border-color: #191919;

//Afecta a los botones
$main-button-color: #c9af0f;
$main-buttonC-color: #537740;
$main-select-color: #c9af0f;


/**Obra cartas**/
//Tipo de obra
$main-bg-tipo-color: #6C573E;

//Texto de las cajas
$main-bg-cover-text: #191919;

//Borde de las cartas
$main-border-card-color: white;

//Separa unas secciones de otras
$main-border-section: #c9af0f;

$main-transparente: #00000000;

/************************************************************************/



/** Vista del lector **/
.home-container {

    display: grid;
    row-gap: 20px;
    background-color: $main-container-color;

    .home-top-10 {

        border-top: $main-border-section 1px solid;
        display: grid;

        .home-top-container {

            margin-top: 10px;
            display: grid;
            row-gap: 10px;
            column-gap: 10px;
            grid-template-columns: repeat(2, 1fr);

            .top-10 {
                display: grid;
                border: 1px solid $main-border-card-color;
                background-color: $main-bg-cover-text;
                width: 100%;

                img {
                    object-fit: cover;
                    width: 100%;
                }
            }
        }
    }



    .home-pendientes {

        border-top: $main-border-section 1px solid;

        .home-pl-container {

            margin-top: 10px;

            .home-pl-options {

                display: grid;
                grid-template-columns: repeat(2, 1fr);
                text-align: center;
                width: 100%;

                .option-pl {
                    border: $main-border-section 1px solid;
                }

            }

            .home-pl-list {
                margin-top: 10px;
                display: grid;
                row-gap: 10px;
                column-gap: 10px;
                grid-template-columns: repeat(2, 1fr);

                .pendientes {
                    border: 1px solid $main-border-card-color;
                    background-color: $main-bg-cover-text;
                    width: 100%;

                    img {
                        object-fit: cover;
                        width: 100%;
                    }
                }

                .seguidos {
                    border: 1px solid $main-border-card-color;
                    background-color: $main-bg-cover-text;
                    width: 100%;

                    img {
                        object-fit: cover;
                        width: 100%;
                    }
                }
            }
        }
    }

    .home-recientes {

        border-top: $main-border-section 1px solid;
        display: grid;

        .recientes-container {

            margin-top: 10px;
            display: grid;
            row-gap: 10px;
            column-gap: 10px;
            grid-template-columns: repeat(2, 1fr);

            .recientes {

                border: 1px solid $main-border-card-color;
                background-color: $main-bg-cover-text;
                height: 100%;

                //If an image is 100% wide and height:auto and you think it's too tall, that is specifically 
                // because the aspect ratio is preserved.
                img {
                    object-fit: cover;
                    width: 100%;
                }
            }
        }
    }
}


.h1-section {
    margin-top: 5px;
    display: grid;
    align-self: center;
    justify-self: center;
    font-size: 18px;
    text-align: center;
    width: 100%;
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Old versions of Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
}

.option-pl {

    color: $main-button-color;
    border: solid 1px $main-border-color;
}

.option-pl:hover {

    background-color: $main-button-color;
    color: black;
    border: solid 1px $main-border-color;
}



.cover-name,
.cover-tipo,
.cover-score,
.cover-leido,
.cover-date {
    justify-self: center;
    text-align: center;
    width: 100%;
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Old versions of Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.profile-details {
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Old versions of Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.cover-name:hover,
.cover-tipo:hover,
.cover-score:hover,
.cover-leido:hover,
.cover-date:hover {
    color: $main-select-color;
}

.cover-name,
.cover-score,
.cover-leido,
.cover-date {
    background-color: $main-bg-cover-text;
}

.cover-tipo {
    background-color: $main-bg-tipo-color;
    border-bottom: 1px solid $main-border-color;
}

/*********************************************************/
/** Obra-Lector **/

.obra-lector {

    .ol-cover-details {
        border-top: $main-border-section 1px solid;
        display: grid;
        grid-template-columns: 1fr;
        column-gap: 10px;

        .ol-cover {

            width: 100%;

            img {
                object-fit: cover;
                width: 100%;
            }

        }
    }

    .ol-details {
        margin-top: 10px;
        border-top: $main-border-section 1px solid;

        .ol-detail-name {
            margin-top: 10px;
        }

        .ol-detail-generos {
            display: flex;

            .ol-generos {
                margin-left: 5px;
                margin-right: 5px;
            }

        }
    }

    //Social Media Lector
    .ol-social {
        margin-top: 10px;
        border-top: $main-border-section 1px solid;


        .ol-social-list {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            row-gap: 15px;

            .ol-social-item {

                a {
                    display: grid;
                    justify-items: center;
                    align-items: center;

                    .logo-sm {

                        width: 50%;
                    }
                }

            }
        }


    }

    .ol-descripcion {
        margin-top: 10px;
        border-top: $main-border-section 1px solid;

        div {
            width: 100%;
        }

    }
}

.ol-chapters {
    margin-top: 10px;
    border-top: $main-border-section 1px solid;

    .ol-chapters-list {

        display: grid;
        column-gap: 20px;
        row-gap: 20px;
        grid-template-columns: repeat(2, 1fr);
        margin-bottom: 20px;

        .ol-chapter-item {

            border: white 1px solid;

            .ol-chapter-description {
                background-image: url('./images/logo.png');
                background-repeat: no-repeat;
                background-position: center;
                background-size: 60% 60%;

                height: 120px;
                display: grid;
                text-align: center;
                align-items: center;
                justify-items: center;
            }

            .ol-chapter-vl {

                display: grid;
                align-items: center;
                justify-items: center;
                border-top: white 1px solid;

                img {

                    width: 35px;
                }
            }
        }
    }
}

.chapter-no-leido {
    background: rgb(174, 238, 203);
    background: radial-gradient(circle, rgba(174, 238, 203, 1) 0%, rgba(37, 91, 32, 1) 100%);
}

.chapter-leido {
    background: rgb(219, 88, 102);
    background: radial-gradient(circle, rgba(219, 88, 102, 1) 0%, rgba(193, 21, 45, 1) 100%);
}

//Clases para la puntiación y AVG de la obra
.ol-rating-follow {

    width: 100%;

    .puntuacion-container {

        .puntos-item {
            display: grid;
            grid-template-columns: repeat(6, 1fr);
            background-color: $main-bg-cover-text;

            .puntos-img img {
                width: 100%;
            }

            .avg-obra {
                display: grid;
                justify-items: center;
                align-items: center;

                div {
                    font-family: 'Metal Mania', cursive;
                    font-size: 25px;
                }
            }
        }
    }

    .follow {

        display: grid;
        justify-items: center;

        button {
            width: 100%;

            font-size: 15px;
            border: 1px solid $main-button-color;
            margin-left: 5px;
            background-color: $main-transparente;
            color: $main-button-color;
        }

        button:hover {
            background-color: $main-button-color;
            color: black;
        }
    }
}


/***************************************************************/
/** Profile Lector **/

.profile-container {

    background-color: $main-container-color;

    display: grid;
    grid-template-columns: 1fr;
    row-gap: 15px;

    .profile-details {
        margin-top: 10px;
        border-top: $main-border-section 1px solid;

        .profile-name {
            margin-top: 10px;
        }
    }

    .profile-update {
        margin-top: 10px;
        border-top: $main-border-section 1px solid;
        display: grid;
        row-gap: 10px;

        div {

            label {

                margin-top: 10px;
            }

            .profile-update-inputs {
                margin-top: 5px;
                display: grid;
                grid-template-columns: 120px 80px 80px;
                column-gap: 5px;

                input:enabled {
                    background-color: white;
                }

                input:disabled {
                    background-color: #afa3a321;
                }

                button {
                    background-color: #19191900;
                    color: $main-button-color;
                    border: $main-button-color 1px solid;
                }

                button:disabled {
                    text-decoration: line-through;
                }

                button:enabled:hover {
                    background-color: $main-button-color;
                    color: black;
                }
            }
        }

    }

    .profile-lector {
        margin-top: 10px;
        border-top: $main-border-section 1px solid;

        .profile-lector-tipos {
            margin-top: 10px;

            .profile-lector-create {
                display: grid;
                grid-template-columns: repeat(4, 1fr);

                div {
                    button {

                        font-size: 15px;
                        border: 1px solid $main-button-color;
                        margin-left: 5px;
                        background-color: $main-transparente;
                        color: $main-button-color;
                    }

                    button:hover {
                        background-color: $main-button-color;
                        color: black;
                    }

                }

            }
        }

    }

    .profile-lector-edit {
        margin-top: 10px;
        margin-bottom: 20px;
        border-top: $main-border-section 1px solid;

        .profile-lector-options {
            margin-top: 10px;
        }
    }

    .profile-lector-edit-pc {
        display: grid;
        grid-template-columns: repeat(2, auto);
    }

    .profile-lector-edit-ocors {
        display: grid;
        grid-template-columns: repeat(3, auto);
    }

}


/****************************************************************/
/** Editor **/
/** Gestor **/
.gestor-container {
    border-top: $main-border-section 1px solid;

}

.editor-container-obras {

    margin-top: 15px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 10px;
    row-gap: 10px;

    .editor-cover-list {

        border: 1px solid $main-border-color;
        -webkit-touch-callout: none;
        /* iOS Safari */
        -webkit-user-select: none;
        /* Safari */
        -khtml-user-select: none;
        /* Konqueror HTML */
        -moz-user-select: none;
        /* Old versions of Firefox */
        -ms-user-select: none;
        /* Internet Explorer/Edge */
        user-select: none;

        .editor-cover-image {
            object-fit: cover;
            width: 100%;

        }

        .editor-cover-obra-name {
            background-color: $main-bg-cover-text;
            text-align: center;
        }

        .editor-cover-obra-button {
            width: 100%;
            border: 1px solid $main-container-color;
            background-color: $main-button-color;
        }

    }


}

.create-obra-container {
    margin-top: 15px;
    border-top: $main-border-section 1px solid;

    .form {

        display: grid;
        grid-template-columns: 1fr;
        column-gap: 20px;
        row-gap: 20px;

        .btn {
            border: 1px solid $main-button-color;
            background-color: #c9b00f00;
            color: $main-button-color;
        }

        .btn:hover {
            color: black;
            background-color: $main-button-color;
        }
    }
}

/** Edit obra **/
.edit-single-obra-container {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 25px;
    border-top: $main-border-section 1px solid;

    // COVER AND DETAILS
    .edit-obra-cover-details-container {

        margin-top: 15px;

        .container-cover-details {

            display: grid;
            grid-template-columns: 1fr;
            column-gap: 20px;
            row-gap: 20px;

            .edit-obra-cover {

                display: grid;

                img {

                    object-fit: cover;
                    width: 100%;
                }

                button {
                    background-color: $main-transparente;
                    color: $main-button-color;
                    border: $main-button-color 1px solid;
                }

                button:hover {
                    background-color: $main-button-color;
                    color: black;
                }
            }

            .edit-obra-details {

                display: grid;
                column-gap: 20px;
                row-gap: 10px;

                div[class*='edit-'] {
                    display: grid;
                    grid-template-columns: 1fr;
                }
            }

            .edit-obra-visibilidad {
                display: grid;
                grid-template-columns: 1fr 1fr 1fr;
            }
        }
    }

    //GENEROS
    .edit-obra-generos {
        border-top: $main-border-section 1px solid;

        .obra-generos-actuales {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
        }

        .obra-generos-lista {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
        }
    }

    .edit-obra-social-media-container {
        .edit-obra-social-new-media {
            display: grid;
            grid-template-columns: repeat(2, 1fr);

        }
    }
}

.social-media-item {

    button {
        margin-left: 5px;
        background-color: $main-transparente;
        color: $main-button-color;
        border: $main-button-color 1px solid;
    }

    button:hover {
        background-color: $main-button-color;
        color: black;
    }
}

.edit-obra-chapters-container {
    border-top: $main-border-section 1px solid;

    .edit-obra-chapters-list {

        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 10px;
        row-gap: 10px;
        margin-top: 15px;
        margin-bottom: 15px;

        .edit-obra-chapters-list-item {
            height: 150px !important;
            border: 1px solid white;
            display: grid;
            justify-items: center;
            align-items: center;
            background-image: url('./images/logo.png');
            background-repeat: no-repeat;
            background-position: center;
            background-size: 60% 60%;

            display: grid;
            text-align: center;

            .chapter-item-name {
                text-align: center;
            }
        }
    }

    .edit-obra-new-chapter {

        border-top: $main-border-section 1px solid;

        button {
            margin-left: 5px;
            background-color: $main-transparente;
            color: $main-button-color;
            border: $main-button-color 1px solid;
        }

        button:hover {
            background-color: $main-button-color;
            color: black;
        }
    }
}

/** Edición de capitulo y paginas **/
.edit-chapter {
    border-top: 1px solid $main-border-section;
    display: grid;
    row-gap: 10px;

    .return-edit-obra {
        margin-top: 20px;
        display: grid;

        button {
            margin-left: 5px;
            background-color: $main-transparente;
            color: $main-button-color;
            border: $main-button-color 1px solid;
        }

        button:hover {
            background-color: $main-button-color;
            color: black;
        }

    }

    .edit-chapter-upload-images {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr;

        input {
            height: 50px;
        }

        button {
            margin-top: 10px;
            background-color: $main-transparente;
            color: $main-button-color;
            border: $main-button-color 1px solid;
        }

        button:hover {
            background-color: $main-button-color;
            color: black;
        }

    }

    .edit-chapter-pages {

        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 10px;
        row-gap: 20px;


        .edit-page-item {
            border: solid 1px white;
            background-color: $main-bg-cover-text;
            width: 100%;

            display: grid;
            justify-items: center;
            align-items: center;

            img {
                object-fit: cover;
                width: 100%;
            }


            .btn {
                margin-top: 5px;
                width: 100%;
                background-color: $main-transparente;
                color: $main-button-color;
                border: $main-button-color 1px solid;
            }

            .btn:hover {
                background-color: $main-button-color;
                color: black;
            }
        }

    }
}

/** READER **/

.paginada {

    border-top: $main-border-section 1px solid !important;

    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;

    .reader-grid {
        margin-bottom: 15px;
        display: grid;
        grid-template-columns: 1fr;
        row-gap: 15px;
        align-items: center;
        justify-items: center;
    }

    .reader-grid .simple {

        /* height: 450px;
        width: 75%;*/
        object-fit: cover;
        width: 95%;

    }

    .reader-grid .doble {
        object-fit: cover;
        width: 95%;
    }
}

.paginada-occidental,
.paginada-oriental {
    margin-top: 10px;
    border-top: $main-border-section 1px solid !important;
    margin-left: auto;
    margin-right: auto;

    .reader-grid .simple {
        object-fit: cover;
        width: 50%;
    }

    .reader-grid .doble {
        object-fit: cover;
        width: 950%;
    }

}



.cascada {
    margin-top: 10px;
    border-top: $main-border-section 1px solid !important;
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;

    .simple {
        object-fit: cover;
        width: 95%;
    }

    .doble {
        object-fit: cover;
        width: 95%;
    }
}

.cascada-oriental,
.cascada-occidental {
    row-gap: 5px;
    margin-top: 10px;
    border-top: $main-border-section 1px solid !important;

    .simple {
        object-fit: cover;
        width: 50%;
    }

    .doble {
        object-fit: cover;
        width: 95%;
    }

}



.reader-button {

    display: grid;
    grid-template-columns: 1fr 1fr;

    .reader-left-Button,
    .reader-right-Button {

        border: 1px solid $main-button-color;

        * {
            color: $main-button-color;
        }
    }

    .reader-left-Button:hover,
    .reader-right-Button:hover {
        background-color: $main-button-color;

        * {
            background-color: $main-button-color;
            color: black;
        }
    }

    div {
        background-color: $main-container-color;
        display: grid;
        justify-items: center;
        align-items: center;
    }
}

.reader-control-tipe {

    margin-bottom: 15px;
    width: 100%;
    display: grid;
    align-items: center;
    justify-items: center;
    column-gap: 10px;
    grid-template-columns: repeat(7, 1fr);

    .reader-control-tipe-Button {
        width: 100%;
        border: 1px solid $main-button-color;
        text-align: center;

        img {
            width: 100%;
        }

        * {
            color: $main-button-color;
        }
    }

    .reader-control-tipe-Button:hover {

        background-color: $main-button-color;

        * {

            background-color: $main-button-color;
            color: black;
        }
    }
}

.reader-control-chapter {
    display: grid;
    justify-items: center;
    align-items: center;
}

.select-o {
    background-color: $main-button-color;

    * {
        color: black !important;
    }
}

/** Library **/

.library-container {

    border-top: 1px solid $main-button-color;
    display: grid;

    .library-abcedario {

        margin-top: 20px;
        justify-self: center;
        align-self: center;

        display: grid;
        column-gap: 20px;
        row-gap: 20px;
        grid-template-columns: repeat(6, 35px);

        .library-letra {
            display: grid;
            justify-items: center;
            width: 100%;
            -webkit-touch-callout: none;
            /* iOS Safari */
            -webkit-user-select: none;
            /* Safari */
            -khtml-user-select: none;
            /* Konqueror HTML */
            -moz-user-select: none;
            /* Old versions of Firefox */
            -ms-user-select: none;
            /* Internet Explorer/Edge */
            user-select: none;

            div {

                border: 1px solid $main-button-color;
                width: 100%;
                font-size: 15px;
                background-color: $main-transparente;
                color: $main-button-color;
                text-align: center;
            }

            div:hover {
                background-color: $main-button-color;
                color: black;
            }
        }

    }

    .library-lista {

        margin-top: 20px;
        display: grid;
        column-gap: 20px;
        row-gap: 20px;
        grid-template-columns: repeat(2, 1fr);

        .library-obra {

            border: solid 1px white;
            width: 100%;

            img {
                object-fit: cover;
                width: 100%;
            }
        }
    }

}


.MANGA {
    background-color: #38564D;
}

.COMIC {
    background-color: #6C573E;
}

.NOVELALIGERA {
    background-color: #6D723F;
}

.NOVELA {
    background-color: #537740;
}

.select {
    background-color: $main-select-color;
    color: black !important;

    .menu-item-text {
        color: black !important;
    }
}

* input,
* select,
* option,
* textarea {
    color: black !important;
}


.top-10:hover,
.pendientes:hover,
.recientes:hover,
.seguidos:hover,
.library-obra:hover,
.ol-chapter-item:hover,
.edit-obra-chapters-list-item:hover {
    border: $main-border-section 1px solid !important;
}

.ol-chapter-vl:hover {
    border-top: $main-border-section 1px solid !important;
}

.delete-container {
    border-top: $main-border-section 1px solid !important;
    margin-bottom: 15px;

    .delete-section {
        display: grid;
        grid-template-columns: 1fr;


        .delete-check-pass,
        .delete-check-palabra {
            button {
                margin-left: 5px;
                border: 1px solid $main-border-section;
                background-color: $main-transparente;
                color: $main-button-color;
            }

            button:disabled {
                text-decoration: line-through;
            }

            button:hover {
                background-color: $main-button-color;
                color: black;
            }
        }

    }
}