//Apartado de variables
$main-bg-color: #3b3b3b;
$main-container-color: #343742;
$main-border-color: #161c2e;
$main-buttonC-color: #756451;
$main-button-color: #71778F;
$main-height-cover-phone: 180px;



/** Vista del lector **/
.home-container {

    display: grid;
    row-gap: 20px;
    background-color: $main-container-color;

    .home-top-10 {
        display: grid;

        .h1-section {
            margin-top: 5px;
            display: grid;
            align-self: center;
            justify-self: center;
        }

        .home-top-container {

            margin-top: 10px;
            display: grid;
            row-gap: 10px;
            column-gap: 10px;
            grid-template-columns: repeat(2, 1fr);

            .top-10 {
                display: grid;
                border: 1px solid $main-border-color;
                width: 100%;

                img {
                    height: 180px;
                    width: 100%;
                }
            }
        }
    }

    .home-pendientes {

       
        .home-pl-container {

            .home-pl-list {
                margin-top: 10px;
                display: grid;
                row-gap: 10px;
                column-gap: 10px;
                grid-template-columns: repeat(2, 1fr);

                .pendientes {

                    width: 100%;

                    img {

                        height: $main-height-cover-phone;
                        width: 100%;
                    }
                }

                .seguidos {

                    width: 100%;

                    img {
                        height: $main-height-cover-phone;
                        width: 100%;
                    }
                }
            }
        }
    }

    .home-recientes {

        border: 1px solid red;
        display: grid;

        .h1-section {
            margin-top: 5px;
            display: grid;
            align-self: center;
            justify-self: center;
        }
        .recientes-container {

            margin-top: 10px;
            display: grid;
            row-gap: 10px;
            column-gap: 10px;
            grid-template-columns: repeat(2, 1fr);

            .recientes {

                border: solid 1px gold;
                height: 100%;

                //If an image is 100% wide and height:auto and you think it's too tall, that is specifically 
                // because the aspect ratio is preserved.
                img {
                    width: 100%;
                    height: $main-height-cover-phone;
                }
            }
        }
    }
}



/****************************************************************/
/** Editor **/
.gestor-container {
    display: grid;
    grid-template-rows: auto;
    row-gap: 20px;
}

.editor-container-obras {

    border: 1px solid yellow;
    display: grid;
    grid-template-columns: repeat(6, 200px);
    column-gap: 20px;

    .editor-cover-list {

        border: 1px solid gold;

        .editor-cover-image {
            width: 100%;
            height: $main-height-cover-phone;

        }
    }

}

.create-obra-container {
    border: 1px solid green;

}

.contact-admin {
    border: 1px solid pink;
}

.edit-obra-new-chapter {
    border: solid yellowgreen 2px;
}

.edit-obra-chapters-list {
    border: solid palegreen 2px;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    column-gap: 20px;
    row-gap: 20px;

    .edit-obra-chapters-list-item {
        border: 1px solid royalblue;
    }
}

.container-cover-details {

    display: grid;
    grid-template-columns: 1fr 5fr;
    column-gap: 20px;

    .edit-obra-cover {

        display: grid;


        img {

            width: 100%;
            height: 400px;
        }
    }

    .edit-obra-details {

        display: grid;
        grid-template-columns: 0.8fr;
        column-gap: 20px;
        row-gap: 20px;

        div[class*='edit-'] {
            border: solid red 1px;
        }

    }
}


/** Edición de capitulo y paginas **/

.edit-chapter {

    display: grid;
    row-gap: 40px;

    .edit-chapter-pages {

        display: grid;
        grid-template-columns: repeat(6, 200px);
        column-gap: 20px;
        row-gap: 20px;

        .edit-page-item {

            width: 100%;

            img {
                width: 100%;
                height: $main-height-cover-phone;
            }
        }

    }
}







/** Obra-Lector **/

.obra-lector {

    .ol-cover-details {
        display: grid;
        grid-template-columns: 350px 5fr 1fr;
        column-gap: 20px;

        .ol-cover {

            width: 100%;

            img {
                width: 100%;
            }

        }
    }

    .ol-details {

        .ol-detail-generos {
            display: flex;

            .ol-generos {
                margin-left: 5px;
                margin-right: 5px;
            }

        }
    }

    .ol-descripcion {

        div {
            width: 60%;
        }

    }
}

.ol-chapters {

    .ol-chapters-list {
        display: grid;
        column-gap: 20px;
        row-gap: 20px;
        grid-template-columns: repeat(4, 250px);

        .ol-chapter-item {
            border: yellow 1px solid;

            .ol-chapter-vl {
                display: grid;
                align-items: center;
                justify-items: center;
                border: gainsboro 1px solid;

                img {
                    width: 35px;
                }
            }
        }
    }
}

//Clases para la puntiación y AVG de la obra
.puntuacion-container {

    display: flex;

    .puntos-item {
        display: grid;
        grid-template-columns: repeat(6, 55px);

        .puntos-img img {
            width: 100%;
        }

        .avg-obra {
            background-color: rosybrown;
            display: grid;
            justify-items: center;
            align-items: center;

            div {
                font-size: 25px;
            }
        }
    }


}



/** READER **/

.paginada {
    margin-top: 10px;
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 15px;
    justify-items: center;

    div div .simple {
        width: 65%;
    }

    div div .doble {
        width: 100%;
    }
}

.paginada-occidental,
.paginada-oriental {
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    margin-top: 10px;

    div div .simple {
        height: 1100px;
        width: 50%;
        margin-top: 15px;
    }

    div div .doble {
        width: 100%;
    }

}

.cascada {

    margin-top: 10px;
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 15px;
    justify-items: center;

    .simple {
        width: 65%;
    }

    .doble {
        width: 100%;
    }

}

.cascada-oriental,
.cascada-occidental {

    margin-left: auto;
    margin-right: auto;
    width: 90%;
    margin-top: 10px;

    .simple {
        height: 1100px;
        width: 50%;
        margin-top: 15px;
    }

    .doble {
        width: 100%;
    }

}

/** Profile **/

.profile-container {

    display: grid;
    grid-template-columns: 1fr;
    row-gap: 15px;

    .profile-details {
        border: solid 1px green;
    }

    .profile-update {
        border: solid 1px yellow;
    }

    .profile-lector {
        border: solid 1px khaki;
    }

    .profile-lector-edit {
        border: solid 1px powderblue;

        .profile-lector-options {
            border: solid 1px powderblue;
        }
    }

}

/** Library **/

.library-container {

    .library-abcedario {

        display: grid;
        grid-template-columns: repeat(12, 80px);


        .library-letra {
            display: grid;
            justify-items: center;
            border: solid 1px powderblue;
            width: 100%;
        }
    }

    .library-lista {
        display: grid;
        column-gap: 20px;
        row-gap: 20px;
        grid-template-columns: repeat(4, 250px);

        .library-obra {
            width: 100%;

            img {
                height: 350px;
                width: 100%;
            }
        }
    }

}