//Apartado de variables
$main-bg-color: #3b3b3b;
$main-container-color: #343742;
$main-border-color: #8c8c8c;
$main-buttonC-color: #756451;
$main-button-color: #71778F;
$main-bg-tipo-color: #806640;
$main-bg-cover-text: #807566;
$main-border-section: #ffd500;
$main-height-cover-pc: 450px;
$main-columns-MAX: 5;
$main-columns-MEDIUM: 3;
$main-row-gap: 20px;
$main-column-gap: 20px;
$main-font-size: 20px;
$main-font-size-h1: 30px;

/* Medium */
@media (min-width:620px) {

    .h1-section {
        margin-top: 15px;
        margin-bottom: 15px;
        font-size: $main-font-size-h1;
    }

    .cover-name,
    .cover-tipo,
    .cover-score,
    .cover-leido,
    .cover-date {
        font-size: $main-font-size;
    }

    .home-container {
        row-gap: $main-row-gap;

        .home-top-10 {
            .home-top-container {

                margin-top: $main-row-gap;
                row-gap: $main-row-gap;
                column-gap: $main-column-gap;
                grid-template-columns: repeat($main-columns-MEDIUM, 1fr);

                .top-10 {
                    img {
                        height: $main-height-cover-pc;
                    }
                }
            }
        }

        .home-pendientes {
            .home-pl-container {

                margin-top: $main-row-gap;

                .home-pl-list {
                    margin-top: $main-row-gap;
                    row-gap: $main-row-gap;
                    column-gap: $main-column-gap;
                    grid-template-columns: repeat($main-columns-MEDIUM, 1fr);

                    .pendientes {
                        img {
                            height: $main-height-cover-pc;
                        }
                    }

                    .seguidos {
                        img {
                            height: $main-height-cover-pc;
                        }
                    }
                }
            }
        }

        .home-recientes {
            .recientes-container {
                margin-top: $main-row-gap;
                row-gap: $main-row-gap;
                column-gap: $main-column-gap;
                grid-template-columns: repeat($main-columns-MEDIUM, 1fr);

                .recientes {
                    img {
                        height: $main-height-cover-pc;
                    }
                }
            }
        }
    }



    /*********************************************************/
    /** Obra-Lector **/

    .obra-lector {


        .ol-cover-details {

            border-top: $main-border-section 1px solid;
            display: grid;
            grid-template-columns: 400px 2fr;
            column-gap: 10px;

            .ol-cover {
                margin-top: $main-row-gap;
                width: 100%;

                img {
                    width: 100%;
                }

            }

            .ol-details {
                margin-top: $main-row-gap;
                border-top: $main-border-section 0px solid;

                .ol-detail {
                    font-size: $main-font-size;
                }

                .ol-detail-generos {
                    display: flex;
                    font-size: $main-font-size;

                    .ol-generos {
                        margin-left: 5px;
                        margin-right: 5px;
                    }

                }

                .ol-detail-name {
                    font-size: 55px;
                }

                .ol-detail-autor {
                    font-size: 35px;
                }
            }
        }



        //Social Media Lector
        .ol-social {
            margin-top: 10px;
            border-top: $main-border-section 1px solid;


            .ol-social-list {
                display: grid;
                grid-template-columns: repeat(4, 1fr);

                .ol-social-item {
                    width: 100%;

                    .logo-sm {
                        width: 60%;
                    }
                }
            }


        }

        .ol-descripcion {
            margin-top: 10px;
            border-top: $main-border-section 1px solid;
            font-size: $main-font-size;

            div {
                width: 100%;
            }

        }
    }

    .ol-chapters {
        margin-top: 10px;
        border-top: $main-border-section 1px solid;

        .ol-chapters-list {

            display: grid;
            column-gap: 20px;
            row-gap: 20px;
            grid-template-columns: repeat(6, 1fr);

            .ol-chapter-item {

                border: $main-border-color 1px solid;

                .ol-chapter-description {
                    height: 200px;
                    display: grid;
                    align-items: center;
                    justify-items: center;
                }

                .ol-chapter-vl {

                    display: grid;
                    align-items: center;
                    justify-items: center;
                    border: $main-border-color 1px solid;

                    img {

                        width: 35px;
                    }
                }
            }
        }
    }

    //Clases para la puntiación y AVG de la obra
    .ol-rating-follow {

        width: 100%;

        .puntuacion-container {

            .puntos-item {
                display: grid;
                grid-template-columns: repeat(6, 1fr);
                background-color: $main-bg-cover-text;

                .puntos-img img {
                    width: 100%;
                }

                .avg-obra {
                    display: grid;
                    justify-items: center;
                    align-items: center;

                    div {
                        font-size: 25px;
                    }
                }
            }


        }
    }

    /************************************************************************/
    /** READER **/

    .paginada {

        .reader-grid {
            margin-top: 15px;
            margin-bottom: 15px;
            display: grid;
            grid-template-columns: 1fr;
            row-gap: 15px;
            align-items: center;
            justify-items: center;
        }

        .reader-grid .simple {

            height: 100%;
        }

        .reader-grid .doble {
            height: 100%;
        }
    }

    .paginada-occidental,
    .paginada-oriental {
        margin-left: auto;
        margin-right: auto;
        width: 90%;

        .reader-grid {
            margin-top: 15px;
            margin-bottom: 15px;
        }

        .reader-grid .simple {
            height: 850px;
            width: 50%;
            margin-top: 15px;
        }

        .reader-grid .doble {
            height: 850px;
            width: 100%;
        }

    }


    .reader-button {
        display: grid;
        grid-template-columns: 1fr 1fr;

        .reader-left-Button,
        .reader-right-Button {
            border: 1px solid $main-border-color;
        }

        div {
            background-color: $main-container-color;
            display: grid;
            justify-items: center;
            align-items: center;
        }
    }

    .cascada {

        margin-top: 10px;
        display: grid;
        grid-template-columns: 1fr;
        row-gap: $main-row-gap;
        justify-items: center;

        .simple {
            height: 100%;
            width: 65%;
        }

        .doble {
            width: 100%;
        }
    }

    .cascada-oriental,
    .cascada-occidental {

        margin-left: auto;
        margin-right: auto;
        width: 90%;
        margin-top: 10px;

        .simple {
            margin-top: 15px;
            height: 850px;
            width: 50%;

        }

        .doble {
            height: 850px;
            width: 100%;
        }

    }


    /***************************************************************/
    /** Profile Lector **/

    .profile-container {

        background-color: $main-container-color;

        display: grid;
        grid-template-columns: 1fr;
        row-gap: $main-row-gap;
        font-size: $main-font-size;

        .profile-details {
            display: grid;
            row-gap: $main-row-gap;
            margin-top: $main-row-gap;
            border-top: $main-border-section 1px solid;
        }

        .profile-update {
            margin-top: $main-row-gap;
            border-top: $main-border-section 1px solid;
            display: grid;
            row-gap: $main-row-gap;

            div {
                label {
                    margin-top: $main-row-gap;
                }

                .profile-update-inputs {
                    margin-top: 5px;
                    display: grid;
                    grid-template-columns: 220px 120px 120px;
                    column-gap: 5px;
                }
            }
        }

        .profile-lector {
            margin-top: 10px;
            border-top: $main-border-section 1px solid;

            .profile-lector-tipos {
                margin-top: 10px;

                .profile-lector-create {
                    display: grid;
                    column-gap: $main-column-gap;
                    grid-template-columns: repeat(4, 200px);
                }
            }

        }

        .profile-lector-edit {
            margin-top: 10px;
            border-top: $main-border-section 1px solid;
            display: grid;
            row-gap: $main-row-gap;

            .profile-lector-options {
                margin-top: 10px;

            }
        }

        .profile-lector-options {

            .profile-lector-edit-pc {
                display: grid;
                grid-template-columns: repeat(2, 150px);
            }

            .profile-lector-edit-ocors {
                display: grid;
                grid-template-columns: repeat(3, 150px);
            }
        }



    }

    /** Library **/

    .library-container {

        .library-abcedario {

            display: grid;
            column-gap: $main-column-gap;
            row-gap: $main-row-gap;
            grid-template-columns: repeat(10, 45px);


            .library-letra {
                display: grid;
                justify-items: center;
                border: solid 1px powderblue;
                width: 100%;
            }
        }

        .library-lista {

            margin-top: 20px;
            display: grid;
            column-gap: 20px;
            row-gap: 20px;
            grid-template-columns: repeat(3, 1fr);

            .library-obra {
                width: 100%;

                img {
                    height: $main-height-cover-pc;
                    width: 100%;
                }
            }
        }

    }


    /****************************************************************/
    /** Editor **/
    /** Gestor **/
    .gestor-container {
        border-top: $main-border-section 1px solid;

    }

    .editor-container-obras {

        margin-top: 15px;
        display: grid;
        grid-template-columns: repeat($main-columns-MEDIUM, 1fr);
        column-gap: $main-column-gap;
        row-gap: $main-row-gap;

        .editor-cover-list {

            border: 1px solid $main-border-color;

            .editor-cover-image {
                width: 100%;
                height: $main-height-cover-pc;

            }

            .editor-cover-obra-name {
                background-color: $main-bg-cover-text;
                text-align: center;
            }

            .editor-cover-obra-button {
                width: 100%;
                border: 1px solid $main-container-color;
                background-color: $main-button-color;
            }
        }
    }

    .create-obra-container {
        margin-top: 15px;
        border-top: $main-border-section 1px solid;
        font-size: $main-font-size;

        .form {
            display: grid;
            grid-template-columns: 1fr;
            column-gap: $main-column-gap;
            row-gap: $main-row-gap;
            margin-bottom: $main-row-gap;
        }
    }

    /** Edit obra **/
    .edit-single-obra-container {
        display: grid;
        grid-template-columns: 1fr;
        row-gap: 25px;
        border-top: $main-border-section 1px solid;

        // COVER AND DETAILS
        .edit-obra-cover-details-container {

            margin-top: 15px;

            .container-cover-details {

                display: grid;
                grid-template-columns: 1fr 3fr;
                column-gap: $main-column-gap;
                row-gap: $main-row-gap;


                .edit-obra-cover {

                    display: grid;

                    img {

                        width: 100%;
                        height: 500px;
                    }
                }

                .edit-obra-details {

                    display: grid;
                    column-gap: 20px;
                    row-gap: 10px;

                    div[class*='edit-'] {
                        display: grid;
                        grid-template-columns: 350px;
                    }
                }

                .edit-obra-visibilidad {
                    grid-template-columns: 80px 50px 30px 50px 30px !important;
                    justify-items: center;
                    align-items: center;
                }

                .edit-obra-demografias {

                    grid-template-columns: 170px 180px !important;
                    justify-items: center;
                    align-items: center;

                    select {
                        height: 30px;
                    }

                    select {
                        justify-self: start;
                    }
                }
            }
        }

        //GENEROS
        .edit-obra-generos {
            border-top: $main-border-section 1px solid;

            .obra-generos-actuales {
                display: grid;
                grid-template-columns: repeat(12, 1fr);
            }

            .obra-generos-lista {
                display: grid;
                row-gap: 5px;
                grid-template-columns: repeat(6, 1fr);
            }
        }

        .edit-obra-resume {
            border-top: $main-border-section 1px solid;
            display: grid;
            justify-items: center;
            align-items: center;

            .edit-obra-resume-textarea {
                width: 70%;
            }
        }


        .edit-obra-social-media-container {
            border-top: $main-border-section 1px solid;
            justify-items: center;
            align-items: center;

            .h1-section {
                margin-top: 25px;
            }

            .edit-obra-social-new-media {
                display: grid;
                justify-items: center;
                align-items: center;
                grid-template-columns: repeat(11, 1fr);
            }

            .social-media-item {
                input {
                    width: 300px;
                }
            }
        }
    }

    .edit-obra-chapters-container {
        border-top: $main-border-section 1px solid;

        .edit-obra-chapters-list {

            display: grid;
            grid-template-columns: repeat(6, 1fr);
            column-gap: 10px;
            row-gap: 10px;
            margin-top: 15px;
            margin-bottom: 15px;

            .edit-obra-chapters-list-item {
                height: 150px;
                border: 1px solid $main-border-color;
                display: grid;
                justify-items: center;
                align-items: center;

                .chapter-item-name {
                    text-align: center;
                }
            }
        }

        .edit-obra-new-chapter {
            border-top: $main-border-section 1px solid;
            margin-bottom: 15px;

            .btn {
                font-size: 15px;
                border: 1px solid $main-border-color;
                background-color: $main-buttonC-color;
                margin-top: 10px;
                width: 100%;
            }
        }
    }


    /** Edición de capitulo y paginas **/
    .edit-chapter {

        display: grid;
        row-gap: $main-row-gap;

        .return-edit-obra {
            display: grid;

            button {

                border: 1px solid $main-border-color;
                background-color: $main-button-color;
                margin-left: auto;
                margin-right: auto;
                font-size: $main-font-size;
                height: 35px;
            }
        }

        .edit-chapter-upload-images {
            width: 100%;
            display: grid;
            grid-template-columns: 1fr;

            button {
                width: 200px;
            }
        }

        .edit-chapter-pages {

            display: grid;
            grid-template-columns: repeat(4, 1fr);
            column-gap: $main-column-gap;
            row-gap: $main-row-gap;
            margin-bottom: $main-column-gap;

            .edit-page-item {
                border: solid 1px $main-border-color;
                background-color: $main-bg-cover-text;
                width: 100%;
                display: grid;

                justify-items: center;
                align-items: center;

                img {
                    width: 100%;
                    height: $main-height-cover-pc;
                }

                .btn {
                    border: 1px solid $main-border-color;
                    background-color: $main-buttonC-color;
                    margin-top: 5px;
                    width: 100%;
                }
            }

        }
    }
}

/*Animaciones*/

@-webkit-keyframes pulse {
    0% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }

    50% {
        -webkit-transform: scale3d(1.05, 1.05, 1.05);
        transform: scale3d(1.05, 1.05, 1.05);
    }

    100% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}

@keyframes pulse {
    0% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }

    50% {
        -webkit-transform: scale3d(1.05, 1.05, 1.05);
        transform: scale3d(1.05, 1.05, 1.05);
    }

    100% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}