//Apartado de variables

//Se requiere en este scss
$main-border-section: #c9af0f;
$main-height-cover-pc: 470px;
$main-columns-MAX: 5;
$main-row-gap: 20px;
$main-column-gap: 20px;
$main-font-size: 20px;
$main-font-size-h1: 28px;



/* big landscape tablets, laptops, and desktops */
@media (min-width:1025px) {

    * {
        font-size: $main-font-size;
    }



    /* Styles */
    /** Sesiones **/


    .main-container {

        display: grid;

        grid-template-columns: 1fr;
        row-gap: 85px;

        .container-text{
            -webkit-touch-callout: none;
            /* iOS Safari */
            -webkit-user-select: none;
            /* Safari */
            -khtml-user-select: none;
            /* Konqueror HTML */
            -moz-user-select: none;
            /* Old versions of Firefox */
            -ms-user-select: none;
            /* Internet Explorer/Edge */
            user-select: none;

            display: grid !important;
            align-items: center;

            .tittle-container-text{
                margin-top: 25px;
                margin-left: 30%;
                font-family: 'Fenix', serif;
                font-size: 120px;
            }

            .subtittle-container-text{
                margin-left: 30%;
                font-family: 'Fenix', serif;
                font-size: 35px;
            }
        }

        .main-container-logo-session {
            height: 100%;
            width: 85%;
            display: grid;
            margin-left: auto;
            margin-right: auto;
            justify-items: center;
            align-items: center;
            column-gap: 50px;
            grid-template-columns: 1fr 2fr;

            .logo-container {

                margin-top: 15px;
                margin-bottom: 15px;
                height: 500px;
                width: 100%;
                display: grid;
                justify-items: center;
                align-items: center;

                .logo-app:hover {
                    -webkit-animation-name: pulse;
                    animation-name: pulse;
                    -webkit-animation-duration: 1s;
                    animation-duration: 1s;
                    -webkit-animation-fill-mode: both;
                    animation-fill-mode: both;
                }
            }

            .main-session-container {

                width: 100%;
                display: grid;
                align-items: center;
                justify-items: center;

                .session-container {

                    display: grid;
                    height: 100%;
                    width: 100%;

                    .session-cent {
                        display: grid;
                        align-items: center;
                        justify-items: center;

                        .base-container {

                            .btnC {
                                justify-self: end;
                            }

                            .header {
                                font-size: 25px;
                            }

                            .footer{
                                .btn{
                                    margin-top: 10px;
                                }
                            }
                        }
                    }

                    //Modificaciones en el lateral Derecho
                    .session-der {

                        .inner-container {
                            display: grid;
                            align-items: center;
                            justify-items: center;
                        }
                    }
                }
            }
        }
    }


    /** Vista del lector **/
    .header-app {

        .menu-item-container {
            column-gap: 15px;

            .menu-item {
                height: 50px;

                .menu-item-text {
                    font-size: $main-font-size;
                }
            }

            .menu-item-logout {
                background-size: 65% 65%;
                height: 40px;
            }
        }
    }

    .h1-section {
        margin-top: 15px;
        margin-bottom: 15px;
        font-size: $main-font-size-h1;
    }

    .cover-name,
    .cover-tipo,
    .cover-score,
    .cover-leido,
    .cover-date {
        font-size: $main-font-size;
    }

    .home-container {
        .home-top-10 {
            .home-top-container {
                grid-template-columns: repeat($main-columns-MAX, 1fr);

                .top-10 {
                    img {
                        height: $main-height-cover-pc;
                    }
                }
            }
        }

        .home-pendientes {
            .home-pl-container {
                .home-pl-list {
                    grid-template-columns: repeat($main-columns-MAX, 1fr);

                    .pendientes {
                        img {
                            height: $main-height-cover-pc;
                        }
                    }

                    .seguidos{
                        img {
                            height: $main-height-cover-pc;
                        }
                    }
                }
            }
        }

        .home-recientes {
            .recientes-container {
                grid-template-columns: repeat($main-columns-MAX, 1fr);

                .recientes {
                    img {
                        height: $main-height-cover-pc;
                    }
                }
            }
        }
    }

    /*********************************************************/
    /** Obra-Lector **/

    .obra-lector {

        .ol-cover-details {
            display: grid;
            grid-template-columns: 400px 2fr;
            column-gap: 10px;

            .ol-cover {
                margin-top: $main-row-gap;
                width: 100%;

                img {
                    width: 100%;
                }

            }

            .ol-details {
                margin-top: $main-row-gap;

                .ol-detail {
                    font-size: $main-font-size;
                }

                .ol-detail-generos {
                    display: flex;
                    font-size: $main-font-size;

                    .ol-generos {
                        margin-left: 5px;
                        margin-right: 5px;
                    }

                }

                .ol-detail-name {
                    font-size: 55px;
                }

                .ol-detail-autor {
                    font-size: 35px;
                }
            }
        }



        //Social Media Lector
        .ol-social {
            margin-top: $main-row-gap;

            .ol-social-list {
                display: grid;
                grid-template-columns: repeat(4, 1fr);

                .ol-social-item {
                    width: 100%;

                    .logo-sm {
                        width: 60%;
                    }
                }
            }
        }

        .ol-descripcion {
            margin-top: $main-row-gap;
            font-size: $main-font-size;

            div {
                width: 100%;
            }
        }
    }

    .ol-chapters {

        margin-top: $main-row-gap;

        .ol-chapters-list {

            display: grid;
            column-gap: 20px;
            row-gap: 20px;
            grid-template-columns: repeat(6, 1fr);

            .ol-chapter-item {

                .ol-chapter-description {
                    height: 200px;
                }

                .ol-chapter-vl {
                    img {

                        width: 35px;
                    }
                }
            }
        }
    }

    //Clases para la puntiación y AVG de la obra
    .ol-rating-follow {

        .puntuacion-container {

            .puntos-item {
                .puntos-img img {
                    width: 100%;
                }

                .avg-obra {
                    div {
                        font-size: $main-font-size;
                    }
                }
            }
        }

        .follow {
            button {
                font-size: $main-font-size;
            }
        }
    }

    /************************************************************************/
    /** READER **/

    .paginada {

        .reader-grid .simple {

            height: 100%;
        }

        .reader-grid .doble {
            height: 100%;
        }
    }

    .paginada-occidental,
    .paginada-oriental {
        .reader-grid {
            margin-top: 15px;
            margin-bottom: 15px;
        }

        .reader-grid .simple {
            height: 850px;
            width: 50%;
            margin-top: 15px;
        }

        .reader-grid .doble {
            height: 850px;
            width: 100%;
        }
    }


    .cascada {

        margin-top: 10px;
        display: grid;
        grid-template-columns: 1fr;
        row-gap: $main-row-gap;
        justify-items: center;

        .simple {
            height: 100%;
            width: 65%;
        }

        .doble {
            width: 100%;
        }
    }

    .cascada-oriental,
    .cascada-occidental {
        .simple {
            margin-top: 15px;
            height: 850px;
            width: 50%;

        }

        .doble {
            height: 850px;
            width: 100%;
        }

    }


    /***************************************************************/
    /** Profile Lector **/

    .profile-container {

        row-gap: $main-row-gap;
        font-size: $main-font-size;

        .profile-details {
            row-gap: $main-row-gap;
            margin-top: $main-row-gap;
        }

        .profile-update {
            margin-top: $main-row-gap;
            row-gap: $main-row-gap;

            div {
                label {
                    margin-top: $main-row-gap;
                }

                .profile-update-inputs {
                    grid-template-columns: 220px 120px 120px;
                }
            }
        }

        .profile-lector {
            margin-top: 10px;

            .profile-lector-tipos {
                margin-top: 10px;

                .profile-lector-create {
                    display: grid;
                    column-gap: $main-column-gap;
                    grid-template-columns: repeat(4, 1fr);

                    div {
                        button {
                            margin-left: $main-column-gap;
                            font-size: $main-font-size;

                        }
                    }
                }

            }

            .profile-lector-edit {
                margin-top: 10px;
                row-gap: $main-row-gap;

            }

            .profile-lector-options {

                .profile-lector-edit-pc {
                    grid-template-columns: repeat(2, 150px);
                }

                .profile-lector-edit-ocors {
                    grid-template-columns: repeat(3, 150px);
                }
            }


        }
    }

    /** Library **/

    .library-container {

        .library-abcedario {

            display: grid;
            column-gap: $main-column-gap;
            row-gap: $main-row-gap;
            grid-template-columns: repeat(12, 45px);
        }

        .library-lista {
            display: grid;
            margin-top: 20px;

            column-gap: 20px;
            row-gap: 20px;
            grid-template-columns: repeat($main-columns-MAX, 1fr) !important;

            .library-obra {
                width: 100%;
                img {

                    height: $main-height-cover-pc;
                    width: 100%;
                }
            }
        }

    }


    /****************************************************************/
    /** Editor **/
    /** Gestor **/

    .editor-container-obras {

        grid-template-columns: repeat($main-columns-MAX, 1fr);
        column-gap: $main-column-gap;
        row-gap: $main-row-gap;

        .editor-cover-list {

            font-size: $main-font-size;

            .editor-cover-image {
                width: 100%;
                height: $main-height-cover-pc;

            }


            .editor-cover-obra-button {
                font-size: $main-font-size;
            }
        }
    }

    .create-obra-container {
        margin-top: 15px;
        font-size: $main-font-size;
        display: grid;
        grid-template-columns: 1fr;
        justify-items: center;

        .form {
            column-gap: $main-column-gap;
            row-gap: $main-row-gap;
            margin-bottom: $main-row-gap;

        }
    }

    /** Edit obra **/
    .edit-single-obra-container {
        row-gap: $main-row-gap;

        // COVER AND DETAILS
        .edit-obra-cover-details-container {

            margin-top: $main-row-gap;

            .container-cover-details {

                grid-template-columns: 1fr 3fr;
                column-gap: $main-column-gap;
                row-gap: $main-row-gap;


                .edit-obra-cover {
                    img {

                        width: 100%;
                        height: $main-height-cover-pc;
                    }
                }

                .edit-obra-details {

                    display: grid;
                    column-gap: $main-column-gap;
                    row-gap: $main-row-gap;

                    div[class*='edit-'] {
                        display: grid;
                        grid-template-columns: 350px;
                    }
                }

                .edit-obra-visibilidad {
                    grid-template-columns: 100px 70px 40px 70px 40px !important;
                    justify-items: center;
                    align-items: center;
                }

                .edit-obra-demografias {

                    grid-template-columns: 170px 180px !important;
                    justify-items: center;
                    align-items: center;

                    select {
                        height: 30px;
                    }

                    select {
                        justify-self: start;
                    }
                }
            }
        }

        //GENEROS
        .edit-obra-generos {
            border-top: $main-border-section 1px solid;

            .obra-generos-actuales {
                display: grid;
                grid-template-columns: repeat(12, 1fr);
            }

            .obra-generos-lista {
                display: grid;
                row-gap: 5px;
                grid-template-columns: repeat(6, 1fr);
            }
        }

        .edit-obra-resume {
            border-top: $main-border-section 1px solid;
            display: grid;
            justify-items: center;
            align-items: center;

            .edit-obra-resume-textarea {
                width: 70%;
            }
        }


        .edit-obra-social-media-container {
            border-top: $main-border-section 1px solid;
            justify-items: center;
            align-items: center;

            .h1-section {
                margin-top: 25px;
            }

            .edit-obra-social-new-media {
                display: grid;
                justify-items: center;
                align-items: center;
                grid-template-columns: repeat(7, 1fr);

                .social-media-item {
                    font-size: $main-font-size;
                }

            }

            .social-media-item {
                input {
                    width: 300px;
                }
            }
        }
    }

    .edit-obra-chapters-container {
        .edit-obra-chapters-list {

            display: grid;
            grid-template-columns: repeat(6, 1fr);
            column-gap: 10px;
            row-gap: 10px;
            margin-top: 15px;
            margin-bottom: 15px;

            .edit-obra-chapters-list-item {
                height: 200px ;
            }
        }

        .edit-obra-new-chapter {
            margin-bottom: $main-row-gap;

            .btn {
                font-size: $main-font-size;
                margin-top: $main-column-gap;
            }
        }
    }

    /** Edición de capitulo y paginas **/
    .edit-chapter {

        row-gap: $main-row-gap;

        .return-edit-obra {

            button {
                font-size: $main-font-size;
                height: 35px;
            }
        }

        .edit-chapter-upload-images {
            button {
                width: 200px;
            }
        }

        .edit-chapter-pages {

            grid-template-columns: repeat(6, 1fr);
            column-gap: $main-column-gap;
            row-gap: $main-row-gap;
            margin-bottom: $main-column-gap;

            .edit-page-item {
                width: 100%;
                display: grid;
                justify-items: center;
                align-items: center;

                img {
                    width: 100%;
                    height: $main-height-cover-pc;
                }

                .btn {
                    margin-top: 5px;
                    width: 100%;
                }
            }

        }
    }
}



/*Animaciones*/

@-webkit-keyframes pulse {
    0% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }

    50% {
        -webkit-transform: scale3d(1.05, 1.05, 1.05);
        transform: scale3d(1.05, 1.05, 1.05);
    }

    100% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}

@keyframes pulse {
    0% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }

    50% {
        -webkit-transform: scale3d(1.05, 1.05, 1.05);
        transform: scale3d(1.05, 1.05, 1.05);
    }

    100% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}